@import "tailwindcss";

@theme {
  --color-Green: hsl(75, 94%, 57%);
  --color-White: hsl(0, 0%, 100%);
  --color-gray8: hsl(0, 0%, 12%);
  --color-gray7: hsl(0, 0%, 20%);
}

body {
  background-color: hsl(0, 0%, 8%);
}